body {
  margin: 0;
  margin-top: 20px;
  padding: 0;
  background-color: 	#e0f7fa;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.light {
  display: flex;
  flex-direction: column;
  align-items: end;
  padding-right: 1rem;
}

#toggle-theme {
  background-color: #e0f7fa;
  border:none;
  padding: 5px;
  color: white;
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
}

.header {
  font-size: 36px;
  color: #333333	;
  font-weight: bold;
  margin-top: 70px;
  margin-bottom: 50px;
}

label {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;
}

.picker {
  width: 200px;
  height: 50px;
  margin-bottom: 10px;
  background-color: 	#f0f0f0;
  border-radius: 20px;
  text-align: center;
}

.input {
  border: 1px solid #000;
  padding: 15px;
  width: 200px;
  margin-bottom: 10px;
  border-radius: 20px;
  background-color: 	#f0f0f0;
  text-align: center;
}

.result {
  margin-top: 20px;
  font-size: 18px;
  font-weight: bold;
  border-radius: 10px;
}

.button {
  margin-top: 25px;
  background-color: #007BFF	;
  border-radius:13px;
  border-color: #007BFF;
  padding: 15px 25px;
  color: white;
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
}


.button:hover {
  background-color: #0056b3;
  border-color: #0056b3;
}

.reference {
  color: #00695c;
  font-style: italic;
  margin-left: 50px;
  margin-right: 50px;
}

#lang-select {
  margin-bottom: 10px;
  border-radius: 20px;
  padding: 10px;
  text-align: left;
  text-align-last: left;
  background-color: 	#f0f0f0;
}

/* 다크 모드 스타일 */
body.dark {
  background-color: #1e1e1e;
  color: #ffffff;
}

body.dark .header {
  color: #ffffff
}

body.dark .container {
  background-color: #1e1e1e;
}

body.dark #lang-select {
  background-color: #2a2a2a;
  color: #ffffff;
  border: 1px solid #444;
}

body.dark .picker,
body.dark .input {
  background-color: #2a2a2a;
  color: #ffffff;
  border: 1px solid #444;
}

body.dark .button {
  background-color: #3b82f6;
  border-color: #3b82f6;
  color: rgb(19, 17, 17);
}

body.dark .button:hover {
  background-color: #2563eb;
  color: #c6c2d1;
  border-color:  #2563eb;
}

body.dark .light {
  background-color: #1e1e1e;
}

body.dark #lang-select {
  background-color: #2a2a2a;
}

body.dark #toggle-theme {
  background-color: #1e1e1e;
  border:none;
  padding: 5px;
  color: white;
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
}

body.dark .reference {
  color: #80cbc4;
}
